/* Theme "GC" Pluxml - Copyright Pluxml.org & gcyrillus.com */  

/* ---------------------
Html et body
--------------------- */
html {
	font : bold 85%/1.7em Tahoma, Arial;padding:0 50px 50px ;background:#FFA200 url(img/html.jpg) repeat-x bottom;margin:0;letter-spacing:1px;border-top:solid #D37A06 225px!important;border-top:0 none;
}
html:after {content:'Pluxml Powered' ;color:#963163;display:block;text-align:center;margin-top:50px;}
body {background:url(img/body.jpg) repeat-x #383838;padding:0;max-width:1024px;min-width:760px;margin:-175px auto 0!important;margin:50px auto 0;border:solid gray;}

#page {clear:both;}

/* ---------------------
Styles generaux
--------------------- */
h1 {font-size : 1.8em;text-indent:1em;}
h2 {font-size : 1.1em;}
h3 {font-size : 1.05em; margin : 0; padding: 0}
p {margin : 0; padding: 3px;text-indent:0.5em}
a {color :#ddd  ; text-decoration: none;}
a:hover {color :#eee  ;}
.clearer {clear : both; visibility : hidden; margin : 0; padding : 0;}

/* ---------------------
Formulaire
--------------------- */
fieldset {border : 0;}
label {float:left;width:30%;color:white;padding-right:0.25em;text-align:right;min-width:11em;clear:left;}
input, textarea {margin-bottom:0.5em;}
input[type=submit], input[type=reset] {background:url(img/top.png) repeat-x left top #C7689D;color:white;font-weight:bold;cursor:pointer;}
input[type=submit]:hover, input[type=reset]:hover {background:url(img/top.png) repeat-x right top #C7689D;border-style:inset;}


/* ---------------------
Haut de page (#top)
--------------------- */
#top {padding-top:50px;}
#header {width:100%;overflow:hidden;}
#header h1 { /* Titre et sous-titre du site */padding:0 5px;}
#top h1 a { /* Lien du titre */color:white;float:left;}
#top h1 a:hover {color:#11697D;}
#header p {padding:0 15px 30px;color:#61CDDF;font-weight:bold;float:right;}
#menu {background:url(img/4.png) repeat-x #0F790A;height:34px;line-height:34px;	overflow:hidden;margin:0.25em  1em 2em;}
#menu ul {padding:0 1em;margin:0 ;}
#menu li {display:inline;padding:3px 0 ;}
#menu li a {display:inline-block;padding:0 0.5em;margin:0 0.25em ;color:#fff;font-weight:bold;border-left:1px solid #fff;line-height:1.8em}
#menu ul li:first-child a  {border:none;}
#menu li a:hover, #menu li.active a {color:#721748;}

/* --------------------- 
Zone de contenu (#content)  
--------------------- */
#content { /* Bloc */width: 60%;float:left;display:inline;padding: 0 1%;margin:1%;color:#ddd;margin-right:-3px;}
#content .post , .static { /* Conteneur de l'article ou page static */background:url(img/1.png) repeat-x #127286;border:solid white 2px;margin-bottom:2em;}
#content .title { /* Titre de l'article */line-height:34px;margin:0 0.5em;color:yellow;color:yellow;}
#content .title a { /* Lien sur le titre de l'article */color:yellow;}
#content .title a:hover {color:white;}
#content .post-info {text-align:right;color:#781111;font-style:italic;padding-right:1em;}
#content .post-info a {color:#5F5C12;}
#content .feed_categorie ,#content .feed_article {margin:1em 2em;text-align:center;background:url(img/top.png) repeat-x;}
#content .comment_nb {text-align:right;}
#content .comment_nb  a{padding:0 1em ;	color:#5F5C12;}
#pagination { /* Conteneur des liens 'page suivante' et 'page precedente' */margin:1em 2em;text-align:center;background:url(img/top.png) repeat-x;}

/* --------------------- 
Paneau lateral (#sidebar)  
--------------------- */
#sidebar {float:right;display:inline;width:33%;margin:0.5%  2.5% 0 0!important;	margin:0.5%  1% 0 0;overflow:hidden;}
#sidebar div {background:url(img/2.png) repeat-x #858112;border:2px solid white;margin:0.5em 0 2em;}
#sidebar h2 { /* Titre des menusr:yels menusr:yels menusr:yels menusr:yels menusr:yels menusr:yels menusr:yels menusr:yels menusr:yels 